body {
    background-color: rgb(36, 32, 32);
    color: white;
}

#top-header {
    border: 1px solid rgb(156, 152, 152);
}

#canvas-div {
    display: flex;
    justify-content: center;
    /* background-color: gray; */
}

canvas {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: red;
    vertical-align: baseline;
}

header {
    text-align: center;
}

/*pop up*/

.modal {
    display: flex;
    /* Hidden by default */
    justify-content: center;
    position: absolute;
    /* Stay in place */
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    padding: auto;
    margin: auto;
    margin-top: 20px;
    width: 75%;
    height: auto;
    display: flex;
    background-color: gray;
    flex-direction: column;
}

#content-in-modal {
    margin: 0 auto;
    padding: 20px; 
}

.modal-content-2{
    display: flex;
    flex-direction: column;
}

#modal-h2 {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#labelForQuestionInput{
    font-size: 1.7em;
}
#questionImg{
    width: 600px;
    height: auto;
    margin-bottom: 30px;
}
#questionInput{
    padding: 5px;
    margin: 10px 0px 10px 0px;
    width: 100px;
    
}
#answerQuestion{
    font-size: 1.3em;
    width: 80px;
}
#close-Modal{
    padding: 10px;
    font-size: 1em;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 50px;
}