body {
    background-color: rgb(36, 32, 32);
    color: white;
}

#top-header {
    border: 1px solid rgb(156, 152, 152);
}

#canvas-div {
    display: flex;
    justify-content: center;
    /* background-color: gray; */
}

canvas {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: red;
    vertical-align: baseline;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    width: 75%;
    height: 700px;
    display: flex;
    justify-content: center;
    background-color: gray;
}

header {
    text-align: center;
}

#container {
    background-color: #4C4C4C;
}

#header {
    display: flex;
    flex-direction: row;
}

#tab {
    margin-left: 1em;
}

#content {
    display: flex;
    flex-direction: row;
    margin-top: 5em;
}