body {
    background-color: rgb(36, 32, 32);
    color: white;
}

#header {
    display: flex;
    flex-direction: row;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
}

#title {
    margin-left: 5em;
}

#intro {
    margin-left: 8em;
    margin-top: 1em;
    font-size: 20px;
    font-family: myriad-pro, sans-serif;
}

#jsedition {
    margin-left: 11.5em;
    font-size: 14px;
    font-family: myriad-pro, sans-serif;
}

#tab {
    margin-left: 1em;
    position: absolute;
    right: 1em;
    text-align: right;
}

#rectangle-header {
    width: 15px;
    height: 50px;
    background-color: #9B0505;
    margin-top: 0.5em;
    position: absolute;
    right: 9em;
    text-align: right;
}

#rectangle-pic {
    width: 25px;
    height: 300px;
    background-color: #9B0505;
    margin-left: 5em;
}

#pic {
    width: 600px;
    height: 400px;
    margin-left: 3em;
}

#content {
    display: flex;
    flex-direction: row;
    margin-top: 5em;
}

#intro-text {
    padding-left: 5em;
    padding-right: 5em;
    font-family: myriad-pro, sans-serif;
    font-size: 17px;
}

#next-button {
    background-color: #9B0505;
    border-radius: 20px;
    /* margin-left: 12em; */
    height: 40px;
    width: 90px;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    color: white;
    position: absolute;
    right: 10em;
    /* text-align: right; */
}